@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.mon{
  font-family: 'Montserrat', sans-serif;
}
#textarea{
  height: 70vh;
  width: 70vw;
}
.text-stats{
  max-height:  70vh;
}
.fuchsia #mainbody{
  color: rgb(232 121 249);
}
.fuchsia #textarea::placeholder{
  color: rgb(232 121 249);
}
.fuchsia #textarea::selection{
  background-color: rgb(217 70 239);
}
.cyan #mainbody{
  color: rgb(34 211 238);
}
.cyan #textarea::placeholder{
  color: rgb(34 211 238);
}
.cyan #textarea::selection{
  background-color: rgb(6 182 212);
}
.rose #mainbody{
  color: rgb(251 113 133);
}
.rose #textarea::placeholder{
  color: rgb(251 113 133);
}
.rose #textarea::selection{
  background-color: rgb(244 63 94);
}
.amber #mainbody{
  color: rgb(251 191 36);
}
.amber #textarea::placeholder{
  color: rgb(251 191 36);
}
.amber #textarea::selection{
  background-color: rgb(245 158 11);
}
.green #mainbody{
  color: rgb(74 222 128);
}
.green #textarea::placeholder{
  color: rgb(74 222 128);
}
.green #textarea::selection{
  background-color: rgb(34 197 94);
}