@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --fuchsia: rgb(232 121 249);
  --cyan: rgb(34 211 238);
  --rose: rgb(251 113 133);
  --amber: rgb(251 191 36);
  --green: rgb(74 222 128);
  --fuchsiaLight: rgb(217 70 239);
  --cyanLight: rgb(6 182 212);
  --roseLight: rgb(244 63 94);
  --amberLight: rgb(245 158 11);
  --greenLight: rgb(34 197 94);
}
.mon {
  font-family: "Montserrat", sans-serif;
}
#textarea {
  height: 70vh;
  width: 70vw;
  resize: none;
}
#textarea::placeholder {
  opacity: 0.5;
}
@media (max-width: 768px) {
  #textarea {
    width: 90vw;
  }
}
.text-stats {
  max-height: 70vh;
}
.fuchsia #mainbody {
  color: var(--fuchsia);
}
/* .fuchsia #textarea::placeholder{
  color: var(--fuchsia);
} */
.fuchsia #textarea::selection {
  background-color: var(--fuchsiaLight);
}
.cyan #mainbody {
  color: var(--cyan);
}
/* .cyan #textarea::placeholder{
  color: var(--cyan);
} */
.cyan #textarea::selection {
  background-color: var(--cyanLight);
}
.rose #mainbody {
  color: var(--rose);
}
/* .rose #textarea::placeholder{
  color: var(--rose);
} */
.rose #textarea::selection {
  background-color: var(--roseLight);
}
.amber #mainbody {
  color: var(--amber);
}
/* .amber #textarea::placeholder{
  color: var(--amber);
} */
.amber #textarea::selection {
  background-color: var(--amberLight);
}
.green #mainbody {
  color: var(--green);
}
/* .green #textarea::placeholder{
  color: var(--green);
} */
.green #textarea::selection {
  background-color: var(--greenLight);
}
/* Free to Use , githhub.com/VishwaGauravIn */

/* Basic */
::-webkit-scrollbar {
  background-color: transparent;
  width: 0.65em;
  height: 0.6em;
}
#textarea::-webkit-scrollbar {
  background-color: transparent;
  width: 0.55em;
  height: 0.6em;
}
@media (max-width: 640px) {
  ::-webkit-scrollbar {
    background-color: transparent;
    width: 0.65em;
    height: 0.4em;
  }
  #textarea::-webkit-scrollbar {
    background-color: transparent;
    width: 0.3em;
  }
}
::-webkit-scrollbar-track {
  /* background-image: linear-gradient(90deg, rgb(40, 44, 52) 0%, #121212 72%); */
  background-color: transparent;
}

/* default color, border color to match body bg and give some space*/
::-webkit-scrollbar-thumb {
  transform-style: preserve-3d;
  background-color: var(--fuchsiaLight);
  border-radius: 50px;
  border-color: rgb(24 24 27);
  border-style: solid;
}
.fuchsia ::-webkit-scrollbar-thumb {
  transform-style: preserve-3d;
  background-color: var(--fuchsiaLight);
  border-radius: 50px;
  border-color: rgb(24 24 27);
  border-style: solid;
}
.cyan ::-webkit-scrollbar-thumb {
  transform-style: preserve-3d;
  background-color: var(--cyanLight);
  border-radius: 50px;
  border-color: rgb(24 24 27);
  border-style: solid;
}
.rose ::-webkit-scrollbar-thumb {
  transform-style: preserve-3d;
  background-color: var(--roseLight);
  border-radius: 50px;
  border-color: rgb(24 24 27);
  border-style: solid;
}
.amber ::-webkit-scrollbar-thumb {
  transform-style: preserve-3d;
  background-color: var(--amberLight);
  border-radius: 50px;
  border-color: rgb(24 24 27);
  border-style: solid;
}
.green ::-webkit-scrollbar-thumb {
  transform-style: preserve-3d;
  background-color: var(--greenLight);
  border-radius: 50px;
  border-color: rgb(24 24 27);
  border-style: solid;
}

/* basically onClick
::-webkit-scrollbar-thumb:active {
  background-color: rgb(232, 80, 255);
} */
/* Custom Checkbox start */
input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 60px;
  height: 26px;
  background: rgb(39 39 42);
  display: block;
  border-radius: 100px;
  position: relative;
}

input:checked + label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}
label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 16px;
  height: 16px;
  background: var(--fuchsiaLight);
  border-radius: 90px;
  transition: 0.3s;
}
.fuchsia label:after {
  background: var(--fuchsiaLight);
}
.cyan label:after {
  background: var(--cyanLight);
}
.rose label:after {
  background: var(--roseLight);
}
.amber label:after {
  background: var(--amberLight);
}
.green label:after {
  background: var(--greenLight);
}
input:checked + label {
  background: var(--fuchsiaLight);
}
.fuchsia input:checked + label {
  background: var(--fuchsiaLight);
}
.cyan input:checked + label {
  background: var(--cyanLight);
}
.rose input:checked + label {
  background: var(--roseLight);
}
.amber input:checked + label {
  background: var(--amberLight);
}
.green input:checked + label {
  background: var(--greenLight);
}
input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

/* Custom Checkbox end */
